<label class="module controller" data-module="gp-boilerplate-documentation/modules/elements/checkbox" data-controller="gp-boilerplate-documentation/modules/elements/Checkbox"{{#if chunk}} data-chunk="{{{chunk}}}"{{/if}}>
  <input type="checkbox"{{#if feature-name}} data-feature-name="{{{feature-name}}}"{{/if}}{{#if name}} data-name="{{{name}}}"{{/if}}{{#if hook}} data-hook="{{{hook}}}"{{/if}} /><i></i>{{#if label}}<span>{{{label}}}</span>{{/if}}
</label>
