<!DOCTYPE html>
<html class="no-js module loading" data-module="gp-boilerplate-documentation/modules/layouts/default" lang="{{default.language}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="{{{globals.head.meta.viewport}}}">

  <title>{{title}}</title>

  <link rel="shortcut icon" type="image/x-icon" href="{{relativeToRoot}}{{{globals.head.meta.favicon}}}">


  <style type="text/css">
      {{{raw options.resources.css.docCritical}}}
  </style>

  {{#if globals.fonts}}
    {{{mixin "commons/head/fonts" fonts=globals.fonts}}}
  {{/if}}

  <link rel="preload" href="{{relativeToRoot}}{{options.resources.css.doc}}" as="style" onload="this.rel='stylesheet';" media="screen">
  <noscript><link rel="stylesheet" href="{{relativeToRoot}}{{options.resources.css.doc}}"></noscript>
  <script type="text/javascript">
    {{raw options.resources.js.embed}}
  </script>
</head>
<body>

  {% body %}

  {{!-- @TODO JAVASCRIPT CHUNKS - Sets webpackPublicPath variable for override root javascript path. Example: "/js/app.js" -> "/docroot/js/app.js" --}}
  <script type="text/javascript">
    window.webpackPublicPath = '{{{relativeToRoot}}}js/';
  </script>
  <script type="text/javascript" src="{{{relativeToRoot}}}{{options.resources.js.main}}" async defer></script>
</body>
</html>
